* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  cursor: none;
}
nav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 10vh;
  align-items: center;
  margin: auto;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.nav-links li {
  padding: 1rem;
}
h1,
.nav-links {
  flex: 1;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: -1;
  backdrop-filter: grayscale();
}
.cursor.link-grow {
  transform: scale(2);
  background: #000;
}
.hovered-link {
  color: #fff;
}
.front-cover img {
  position: relative;
  z-index: -3;
}
